

.banber{
	width: 100%;
	min-width: 1200px;
}
.banber img{
	width: 100%;
}
.module{
	width: 100%;
}
.module_first{
	padding: 30px 0;
}
.modfir_l{
	width: 360px;
	height: 420px;
	float: left;
	overflow: hidden;
}
.modfir_l img{
	width: 100%;
	height: 100%;
}
.modfir_r{
	width: 830px;
	float: right;
}
.modfir_li{
	float: left;
	width: 270px;
	height: 205px;
	margin:10px 0 0 10px ;
	overflow: hidden;
}
.modfir_li img{
	width: 100%;
	height: 100%;
}
.qul{
	margin-left: 0px;
}
.qut{
	margin-top: 0;
}
.module_second{
	padding: 20px 0;
}
.modsec_l{
	float: left;
	width: 540px;
	overflow: hidden;
	height: 355px;
}
.modsec_l img{
	width: 100%;
	height: 100%;
}
.modsec_r{
	width: 660px;
	float: left;
	padding: 20px 40px 0 40px;
}
.modsec_r_txt{
	height: 210px;
	width: 100%;
	overflow: hidden;
}
.modsec_r_txt p{
	text-indent: 2rem;
	line-height: 30px;
}
._Seemore{
	width: 145px;
	height: 45px;
	display: block;
	margin-top: 20px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}
.seemore_one{
	position: absolute;
	transform: scale(1,1);
	transition: all .5s ease;
	z-index: 1;
}
.seemore_two{
	position: absolute;
	transition: all .2s ease;
	transform: scale(0.5,0.5);
	z-index: 2;
	background: white;
	opacity: 0;
}
._Seemore:hover .seemore_one{
	transform: scale(1.1,1.1);
}
._Seemore:hover .seemore_two{
	transform: scale(1,1);
	opacity: 1;
}
.module.third{
	width: 100%;
	background: #f7f7f7;
}
.mod_thi{
	padding: 20px 0px 30px 0px;
}
.mod_thi h3,.mod_thi h5{
	width: 100%;
	text-align: center;
}
.modthi_list{
	margin-top: 30px;
}
.modthi_li{
	width: 285px;
	float: left;
	margin-left: 15px;
	overflow: hidden;
	margin-bottom: 10px;
	position: relative;
	max-height: 336px;
}
.modthi_li .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 285px;
	height: 305px;
	background: rgba(0,0,0,0.5);
	transform: scale(0,0);
	transition: all .5s ease;
}
.modthi_li .mask p{
	color: white;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
	height: 21px;
	margin-top: -21px;	
}
.modthi_li:hover .mask{
	transform: scale(1,1);
}
._Seemore.other{
	margin-left: 536px;
	margin-top: 20px;
}

.mod_fou{
	padding: 20px 0 40px 0;
}
.mod_fou h3,.mod_fou h5{
	width: 100%;
	text-align: center;
}
.modfou_pic{
	width: 800px;
	height: 360px;
	margin: 10px auto 20px auto;
	overflow: hidden;
}
.modfou_pic img{
	transform: scale(1,1);
	transition: all .5s ease;	
}
.modfou_pic img:hover{
		transform: scale(1.2,1.2);
}
.mod_fou p{
	color: #888888;
	font-size: 16px;
	text-align: center;
	line-height: 36px;
}
.mod_fiv{
	padding:20px 0 0 0 ;

}
.modfiv_head{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.modfiv_head_l{
	font-size:18px ;
	color: #f12323;
	float: left;
}
.modfiv_head_r{
	float: right;
}
.modfiv_head_r a{
	color: #999999;
	font-size: 12px;
	padding: 0 2px 0 2px;
}

.modfiv_l{
	width: 430px;
	height: 570px;
	float: left;
	border-top:2px solid  #f12323;
	overflow: hidden;
}
.modfiv_l_img{
	width: 100%;
	height: 260px;
	overflow: hidden;
	margin-bottom: 20px;
}
.modfiv_l_img img{
	width: 100%;
	height: 100%;
}
.modfiv_l_list{
	width: 50%;
	float: left;
	height: 290px;
}
.modfiv_c{
	border-top:2px solid  #f12323;
	width: 320px;
	height: 570px;
	float: left;
	margin-left: 10px;
	overflow: hidden;
}
.modfiv_l_img.cen{
	width: 320px;
	height: 320px;
}
.modfiv_r{
	border-top:2px solid  #f12323;
	width: 430px;
	height: 570px;
	float: right;	
	overflow: hidden;
	position: relative;
}
.mll_img{
	width: 215px;
	height: 150px;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
}
.mll_img img{
	max-height: 100%;
	max-width: 100%;
	margin: auto;
	display: block;
}
.price_fiv{
	color: #f00000;
	font-size: 16px;
	padding-left: 10px;
	line-height: 40px;
}
.name_fiv{
	padding-bottom: 20px;
	padding-top: 5px;
	display: block;
	overflow: hidden;
}
.word_fiv{
    color: #999999;
    max-height: 70px;
    font-size: 12px;
    overflow: hidden;
}
.modfiv_l_list .price_fiv,.modfiv_l_list .name_fiv,.modfiv_l_list .word_fiv{
	padding-left: 15px;
}
.mod_fr_img{
	width: 100%;
	height: 270px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
}
.mod_fr_img img{
	width: 100%;
	height: 100%;
}
.mod_six{
	padding:50px 0;
}
.mod_six h3,.mod_six h5{
	width: 100%;
	text-align: center;
}
.video_six{
	width: 550px;
	height: 432px;
	float: left;
	margin-top: 35px;
	text-align: center;
}
.flashview{
	width: 650px;
	height: 432px;
	float: left;
	margin-top: 35px;
	overflow: hidden;
}
.flashview li{
	height: 108px;
	overflow: hidden;
}
.flview_l{
	width: 120px;
	height: 108px;
	float: left;
}
.flview_limg{
	width: 120px;
	height: 108px;
	display: table-cell;
	vertical-align: middle;
}
.flview_limg img{
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
}
.fla_tit{
	display: block;
	float: left;
	line-height: 40px;
	font-size: 16px;
	color: #333333;
	width: 530px;
	height: 40px;
	overflow: hidden;
}
.fla_tit:hover{
	text-decoration: underline;
}
.fla_word{
	display: block;
	float: left;
	width: 530px;
	overflow: hidden;
	height: 68px;
	padding: 4px 0 4px 0;
	font-size: 13px;
	line-height: 26px;
	color: #888888;
}

.module.seven{
	height: 460px;
	background: #f3f3f3;
	padding-top: 60px;
}
.modsev_l{
	width: 630px;
	height: 370px;
	overflow: hidden;
	float: left;
}
.modsev_l li{
	height: 45px;
	width: 100%;
	border-bottom: 1px dashed #cccccc;
	line-height: 44px;
	overflow: hidden;
}
.modsev_l .ts{
	height: 39px;
	line-height: 39px;
	border-bottom: 1px solid #cccccc;
}
.refer_l{
	display: block;
	float: left;
	width: 120px;
	background: url(../img/tmp1466736960_1246989_s.jpg) no-repeat 0 5px;
	padding-left: 36px;
	height: 38px;
	font-size: 21px;
	color:#272727;
	border-bottom: 2px solid #4489ca;
}
.refer_r{
	float: right;
	width: 80px;
	font-size: 16px;
	color: #757575;
}
.modsec_le{
	display: block;
	float: left;
	line-height: 44px;
	overflow: hidden;
	width: 80%;
	font-size: 16px;
	color: #373737;
	padding-left: 25px;
	background: url(../img/12tu.jpg) left center no-repeat;
}
.modsec_ri{
	float: right;
	width: 16%;
	overflow: hidden;
	display: block;
	font-size: 16px;
	color: #373737;
}
.mod_sev_r{
	width: 560px;
	float: right;
}
.modsev_pic{
    margin-left: 5px;
    width: 180px;
    height: 185px;
    float: left;
    overflow: hidden;
    background: white;
    margin-bottom: 10px;
}
.modsev_img{
	width: 180px;
	height: 185px;
	display: table-cell;
	vertical-align: middle;
}
.modsev_img{
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

.mod_eig{ 
	padding: 40px 0;
}
.mod_eig h1{
	height: 65px;
	background: url(../img/tmp1479955419_1333021_s.png) no-repeat center  center;
	text-align: center;
}
.mod_eig h1 a{
	color: #333333;
	font-size: 30px;
}
.modeig_list{
	width: 100%;
}
.modeig_list .qu{
	margin-left: 0;
}
.modeig_list li{
	width: 285px;
	height: 250px;
	float: left;
	margin-left: 20px;
	border: 1px solid #CCCCCC;
	text-align: center;
}
.modeig_pic{
	width: 285px;
	height: 158px;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
}
.modeig_pic img{
	display: block;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}
.modeig_hr{
	font-size: 18px;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	color: #555555;
}
.modeig_txt{
	line-height: 24px;
	color: #888888;
}
.map{
	width: 100%;
	height: 380px;
	overflow: hidden;
}
.link{
	height: 190px;
	padding: 40px 0 20px 0;
}
.link h2{
	background: url(../img/line_07.jpg) repeat-x;
	height: 30px;
	line-height: 30px;
}
.link_tit{
	display: block;
	font-size: 21px;
	color: #444444;
	background: white;
	float: left;
}
.link_pic{
	float: left;
	width: 171px;
	height: 90px;
	margin-top: 10px;
	border:1px solid #CCCCCC;
	border-right: none;
	overflow: hidden;
}
.link_pic.end{
	border-right:1px solid #CCCCCC;
}
.lik_img{
	width: 171px;
	height: 90px;
	display: table-cell;
	vertical-align: middle;
}
.lik_img img{
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}


/*关于我们*/
.About_top{
	width: 100%;
	min-width: 1200px;
	text-align: center;
	height: 115px;
	background: #ff4351;
	padding-top: 90px;
}
.About_top a{
	color: white;
	font-size: 16px;
}
.About_tit{
	width: 100%;
	text-align: center;
	height: 60px;
	background:url(../img/about.png) no-repeat center bottom;

	line-height: 70px;
}
.About_tit a{
	color: #ff4351;
}
.About_text{
	padding: 60px 30px 0 30px;
}
.About_text p{
	line-height: 30px;
    text-align: left;
    text-indent: 2em;
    font-weight: 400;
    font-size: 16px;
    color: #888888;
}
.About_img{
	margin: 10px 0 5px 0;
}

/*行业资讯*/
.intro_tit{
	width: 100%;
	height: 43px;
	margin-top: 10px;
	padding-left: 15px;
	background: #f5f5f5;
	overflow: hidden;
	line-height: 43px;
	border: 1px solid #ededed;
}
.intint_f{
	color: #888888;
	font-size: 14px;
}
.nextTxt{
	white-space: nowrap;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #FFA500;
}
.intr_module{
	width: 100%;
	margin-top: 10px;
}
.intr_l{
	float: left;
	width: 330px;
}
.inmo_tit{
	height: 45px;
	width: 100%;
	line-height: 45px;
	font-size: 18px;
	font-weight: 400;
	text-indent: 15px;
	background: url(../img/123.jpg) no-repeat left center;
	margin-bottom: 15px;
	padding-left:10px;
	border-bottom: 2px solid #cccccc;
}
.inmo_tit.t2{
	background: url(../img/1234.jpg) no-repeat left center;	
}
.inmo_tit.t3{
	background: url(../img/12345.jpg) no-repeat left center;	
	margin-bottom: 5px;
}	
.inmo_tit a{
	color:#333333
}
.intr_l_t.nav{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	float: left;
	font-size: 14px;
	background: #f8f8f8;
	color: #666666;
	padding-left: 15px;
}
.intr_l_t.nav span{
	float: right;
	margin-right: 15px;
	font-size: 15px;
}
.intr_l_t.nav.qu{
	margin-top: 0;
}
.intr_l_t.nav:hover{
	background: #cccccc;
	color: white;	
}
.intr_l_t.nav:hover span{
	color: white;
}
/*跑马灯 文字*/
.In_run{
	width: 100%;
	height: 320px;
	overflow: hidden;
	line-height: 30px;
	background: white;
}
.In_run_list{
	padding-right: 20px;
	overflow: hidden;
}
.In_rli{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	background:  url(../img/run.jpg) no-repeat 10px 10px;
	padding-left: 15px;
}
.In_rli a{
	color: #777777;
	font-size: 14px;
}
.In_rli:hover a{
	color: #000000;
	text-decoration: underline;
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease;
}

.inmo_tit .ts{
	font-size: 14px;
	color: #888888;
	float: right;
	margin-right: 10px;
}
.intr_r{
	float: left;
	margin-left: 10px;
	width: 860px;
}
.intr_li{
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #777777;
	padding-left: 15px;
	background: url(../img/tmp1466649544_1245926_s.jpg) no-repeat left center;
	border-bottom: 1px dashed #ededed;
}
.intr_li a{
	display: block;
	max-width: 60%;
	overflow: hidden;
	height: 50px;
	float: left;
	color: #777777;

}
.intr_li a:hover{
	color: #000000;
	text-decoration: underline;
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease;
}
.intr_li span{
	float: right;
	font-size: 14px;
	font-family: "微软雅黑";
}
/*分页器*/
.page{
	margin-top: 10px;
	width: 100%;
	height: 49px;
	text-align: center;
}
.page .inner{
	text-align: center;
    overflow: hidden;
    padding: 10px 5px;
    clear: both;
    font-size: 0;
}
.page span {
    border-color: #DDD;
    color: #AAA;
    background-color: #FFF;
    display: inline-block;
    margin-left: 5px;
    border-width: 1px;
    border-style: solid;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    padding: 5px 10px;
}
.page strong {
    background-color: #cccccc;
    border: 1px solid #cccccc;
    color: #FFF;
    display: inline-block;
    margin-left: 5px;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    padding: 5px 10px;
}
.page a {
    border-color: #BBB;
    color: #666;
    background-color: #FFF;
    display: inline-block;
    margin-left: 5px;
    border-width: 1px;
    border-style: solid;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    padding: 5px 10px;
}
.page a:hover{
	background-color: #FFA500;
    border-color: #FFA500;
    color: white;
    transition-property: border-color,background-color,color;
    transition-duration: .5s;
    transition-timing-function: ease;
}
/*产品展示*/
.intro_tit.ser{
	background-color: #F5FFFA;
	margin-top: 0;
}
.intint_f.ser{
	font-weight: bold;
}
.intint_f.color{
	color:#FFA500
}
.ser_title{
	width: 100%;
	text-align: center;
	color: #333333;
	margin-top: 40px;
	clear: both;
}
.ser_title.te{
	margin-bottom: 30px;
}
.ser_pa{
	display: block;
	float: left;
	text-align: center;
    background: #ffc514;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 45px;
    font-weight: 400;
    width: 160px;
    height: 60px;	
    line-height: 60px;
}
.ser_pa.qu{
	margin-left: 0px ;
}
.ser_pa.te{
	margin-top: 20px;
}
.ser_pa:hover{
	color:#ffc514;
	background-color: white;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}
.ser_list_view{
	float: left;
	margin-top: 20px;
	width: 600px;
	height: 285px;
	overflow: hidden;
}
.slv_middle{
	float: left;
	border: 1px solid #DDDDDD;
	width: 280px;
	height: 285px;
	overflow: hidden;
}
.slv_img{
	width: 278px;
	height: 283px;
	vertical-align: middle;
	display: table-cell;
	overflow: hidden;
	padding: 1px;
}
.slv_img img{
	margin: auto;
	display: block;
	max-height:100%;
	max-width:100%;
}
.slv_tit{
	margin-left: 15px;
	line-height: 30px;
    height: 60px;
    font-size: 16px;
    width: 300px;
    float: left;
    color:#555;
    display: block;
    overflow: hidden;
}
.slv_txt{
	margin-left: 15px;
	display: block;
	width: 305px;
	float: left;
	font-size: 20px;
	color: #f20000;
	line-height: 30px;
	margin-top: 10px;
}
.slv_txt a{
	display: block;
	float: right;
    margin-right: 15px;
	width: 30px;
	height: 30px;
	background: url(../img/list_shopcar_icon.png) 0px -30px no-repeat;
}
.slv_txt a:hover{
	background: url(../img/list_shopcar_icon.png) no-repeat;
}
.slv_word{
	float: left;
	margin-left: 15px;
	margin-top: 20px;
	color: #888888;
	font-size: 14px;
	line-height: 30px;
	display: block;
	width: 305px;
	height: 120px;
	overflow: hidden;
}
/*在线留言*/
.job_title{
	width: 100%;
	height: 34px;
	line-height: 34px;
	border-bottom: 2px solid#FFA500;
	padding-left: 9px;
}
.job_title a{
	border-left:2px  solid #FFA500;
	font-size: 14px;
	color: #FFA500;
	padding-left: 5px;
	font-family:"微软雅黑";
}
.online_form_title{
	height: 45px;
	line-height: 45px;
	width: 1155px;
	margin: 0px auto;
	border-bottom: 1px solid #dddddd;
	font-size: 14px;
	color: #000000;
}
.online_form .red{
	font-style: normal;
    padding: 0px 5px;
    font-size: 14px;
}
.online_li.ts{
	margin-top: 20px;
}
.online_li{
    padding: 5px;
    display: block;
    -webkit-margin-start: 40px;
}
.online_left{
	height: 26px;
    line-height: 26px;
    display: block;
    float: left;
    width: 110px;
    text-align: right;
    font-size: 14px;
    position: relative;
}
.online_left .red{
	position: absolute;
    left: 20px;
    font-size: 12px;
    top: -2px;
    font-family: -webkit-pictograph;
}
.online_right{
	float: left;
	margin-left: 10px;
}
.online_right input{
	height: 25px;
	text-indent: 5px;
	font-size: 14px;
	color:black;
}
.online_right textarea{
	width: 615px;
	height: 165px;
	outline: medium;
	text-indent: 2rem;
	font-size: 14px;
	color:black;
	max-width: 800px;
}
.online_right span{
	font-size: 12px;
	margin-left: 15px;
	color: #333333;
}
.online_li.t1 .online_left{
	line-height: 50px;
	height: 50px;
}
.yzmpic{
	width: 120px;
	height: 48px;
	margin-right: 20px;
	float: left;
	border: 1px solid red;
}
.yzm{
	width: 110px;
	height: 35px !important;
	float: left;
	margin-top: 8px;
}
.yzm_wz{
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}
.yzm_wz:hover{
	color: #FFA500;
}
.online_right.t2{
	height: 70px;
}
.check{
	width: 15px;
	height: 15px!important;
	float: left;
	margin-top: 30px;
}
.check_wz{
	float: left;
	margin-top: 30px;
	margin-left: 5px !important;
}
.btn_send{
	margin-top: 20px;
	margin-left: 25px;
	width: 100px;
	height: 35px;
	float: left;
	border-radius: 5px;
	text-align: center;
	line-height: 35px;
	background: url(../img/Message_but.png) no-repeat;
	cursor: pointer;
}
.btn_send a{
	font-size: 14px;
	color: white;
}
.btn_send:hover{
	background:url(../img/Message_but.png) no-repeat 0px -36px ;
}
/*人才招聘*/
.job_main{
	border:1px solid #CCCCCC;
}
.job_title{
	width: 100%;
	height: 34px;
	line-height: 34px;
	border-bottom: 2px solid #fea500;
	padding-left: 9px;
}
.job_title a{
	border-left:2px  solid #fea500;
	font-size: 14px;
	color: #fea500;
	padding-left: 5px;
	font-family:"微软雅黑";
}
.job_banner{
	float: left;
	width: 460px;
	height: 290px;
	position: relative;
}
.box{
    position: absolute;
	width: 375px;
	height: 225px;
	left:42px;
	top:10px;
	overflow: hidden;
}
.show_nav{
	z-index: 10;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -40px;
}
.show_nav span{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background:#808080;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}
.show_nav span.active{
	background:#E39300!important;
}
.show_nav.ts{
	margin-left: -80px;
}
.job_li{
	float: left;
	width: 375px;
	height: 225px;
}
.job_list{
	position: absolute;
	top: 0;
	left: 0;
	width: 2250px;
}
.job_txt{
	float: left;
	width: 738px;
}
.job_txt h2{
	font-size: 16px;
	color:#444444;
	height: 60px;
	line-height: 60px;
	font-weight: 800;
	border-bottom: 1px  dotted #EEE; 
}


/*用户登陆*/
.login_l{
	float: left;
	padding-left: 10px;
	padding-top: 20px;
	height: 350px;
	width: 400px;
}
.login_tit{
	height: 45px;
	border-bottom: 1px solid #CCCCCC;
	position: relative;
}
.login_tit span{
	display: block;
	height: 45px;
	width: 140px;
	text-align: center;
	line-height: 45px;
	border: 1px solid #cccccc;
	border-bottom: none;
	position: absolute;
	background: white;
	top: 1px;
	left: 10px;
	font-size: 16px;
	color: #444444;
}
.login_list{
	margin-top: 15px;
	height: 48px;
	width: 390px;
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	padding-left: 35px;
	position: relative;
	padding-right: 5px;
}
.login_list .icon{
    background:url(../img/login_phone_icon.png) 0 39px;
    width: 30px;
    height: 20px;
    display: block;
    position: absolute;
    left: 5px;
    top: 14px;
}
.login_list.t2 .icon{
	 background:url(../img/login_phone_icon.png) 0 60px;
}
.login_list.ts .icon{
	 background:url(../img/login_phone_icon.png) 0 80px;
}
.login_list.ts{
	width: 155px;
	float: left;
}
.login_yzm{
	float: left;
	margin-left: 10px;
	width: 100px;
	height: 48px;
	margin-top: 14px;
}
.login_list input{
	height: 38px;
	width:100%;
	border:none;
	margin-top: 5px;
	font-size: 14px;
	color:#000;
}
.login_list input::-webkit-input-placeholder{
	color: black;
}
.login_list input:hover{
	border: 1px solid #C0C0C0;
}
.login_r{
	float: left;
	width: 798px;
	height: 350px;
	padding-top: 68px;
	text-align: center;
}
.login_btn{
	margin-top: 15px;
	float: left;
	clear: both;
	width: 100%;
	height: 48px;
	line-height: 48px;
}
.login_ok{
	width: 155px;
	height: 45px;
	display: block;
	background: #ffa500;
	line-height: 45px;
	color: white;
	border-radius: 8px;
	text-align: center;
	font-size: 20px;
	float: left;
	cursor: pointer;
}
.login_btn a{
	font-size: 12px;
	margin-left: 10px;
}
.login_btn a:hover{
	color:  #ffa500;
}
.login_r p{
	font-size: 20px;
}
.login_re{
	width: 155px;
	height: 45px;
	display: block;
	background: #ffa500;
	line-height: 45px;
	color: white;
	border-radius: 8px;
	text-align: center;
	font-size: 20px;
	margin: 5px auto;
}

/*用户注册*/
.regist_main{
	width: 100%;
	height: 350px;
	padding-left: 65px;
}
.regist_main h3{
	font-size: 14px;
    line-height: 45px;
	font-weight: 700;
	height: 45px;
}
.regist_main h3 a{
	color: #333333;
}
.regist_main h3 a:hover{
		color: #FFA500;
}
.regist_main li{
	width: 100%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}
.regist_l{
	display: block;
	float: left;
	width: 100px;
	font-size: 12px;
}
.regist_l em{
	color: red;
	font-style: normal;
	font-family: -webkit-pictograph;
}
.regist_main input{
	height: 30px;
	width: 240px;
	margin-right: 20px;
	font-size: 14px;
}
.regist_r{
	font-size: 12px;
}
.regist_yzm{
	width: 100px;
	display: block;
	height: 50px;
	float: left;
}
.regist_txt{
	width: 110px!important;
}
.regist_ok{
	width: 70px;
	height: 30px;
	line-height: 30px;
	border-radius: 8px;
	display: block;
	margin-left: 100px;
	margin-top: 10px;
	color: white;
	background: #ffa500;
	font-size: 12px;
	text-align: center;
}

/*新闻详细页*/
.intint_f.tit{
	color:#FFA500;
	font-family: "微软雅黑";
}
.inmo_tit.qu{
	background-image: none;
	text-indent:0;
	padding-left: 0;
}

.intr_l_t.capa{
	background: #cccccc;
	color: white;	
}
.intr_l_t.capa span{
	color: white;
}
.capacity_wz{
	margin-bottom: 20px;
}
.capacity_ttile{
	width: 100%;
	text-align: center;
	font-size:16px;
	color: #333333;
	border-bottom: 1px dashed #CCC;
	padding: 10px 0;
	margin-bottom: 15px;
}
.capacity_wz h3{
	font-size: 16px;
	font-weight: 800;
	line-height: 22px;
	text-indent: 2rem;
}
.capacity_wz p{
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:14px;
	color: rgb(34, 34, 34);
	font-size: 14px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: normal;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    text-indent: 2em;
    line-height: 1.75em;
}
.capacity_pic{
	margin: 10px auto 10px auto;
	text-align: center;
}


 /*商品详细页*/
 .detail_title{
    	height: 40px;
    	line-height: 40px;
    	background: #FFA500;
 }
 .detail_title.te{
 	margin-top: 20px;
 }
  .detail_title span{
  	display: block;
  	width: 100px;
  	text-align: center;
  	background: white;
  	height: 40px;
  	font-family: "微软雅黑";
  	font-size: 16px;
    color: #ffc514;
    font-weight: 800;
  }
  .detail_main{
	width: 100%;
	position: relative;
}
  .preview{
	width:300px;
	height:370px;
	float: left;
	margin-top: 15px;
	}
/* smallImg */
.smallImg{
	position:relative; 
	height:52px; 
	margin-top:20px; 
	background-color:#F1F0F0;
	 padding:1px; 
	 width:290px; 
	 overflow:hidden;
	 float:left;
}
.scrollbutton{
	width:14px; 
	height:50px; 
	overflow:hidden; 
	position:relative; 
	float:left; 
	cursor:pointer; 
}
.scrollbutton.smallImgUp , .scrollbutton.smallImgUp.disabled{
	background:url(../img/d_08.png) no-repeat;
}
.scrollbutton.smallImgDown , .scrollbutton.smallImgDown.disabled{
	background:url(../img/d_09.png) no-repeat; 
	margin-left:274px; 
	margin-top:-50px;
}

#imageMenu {
	height:50px; 
	width:250px; 
	overflow:hidden; 
	margin-left:5px; 
	float:left;
}
#imageMenu li {
    height: 50px;
    width: 57px;
    overflow: hidden;
    float: left;
    margin-left: 5px;
    text-align: center;
}
#imageMenu li img{
	width:100% ;
	height:100%;
	padding: 1px;
	background: white;
	cursor:pointer;
}
#imageMenu li#onlickImg img, #imageMenu li:hover img{  
	border:1px solid #959595;
}
/* bigImg */
.bigImg{
	position:relative;
	margin-left: 2px; 
	float:left; 
	width:290px; 
	height:280px; 
	overflow:hidden;
	border: 1px solid #e39300;
	padding: 2px;
}
.bigImg img{
	width: 100%;
	height: 100%;
}

.bigImg #winSelector{
	width:180px; 
	height:150px;
}
#winSelector{
	position:absolute; 
	cursor:crosshair; 
	filter:alpha(opacity=15); 
	-moz-opacity:0.15; 
	opacity:0.15; 
	background-color:#000; 
	border:1px solid #fff;
}
/* bigView */
#bigView{
	position:absolute;
	border: 1px solid #959595; 
	overflow: hidden; 
	z-index:999;
	left: 300px!important;
	top: 15px!important;
}
#bigView img{position:absolute;}
.detail_r{
	margin-left: 20px;
    float: left;
	margin-top: 15px;
	width: 880px;
}
.detail_r .title{
    font: bold 16px/2.0 "微软雅黑";
	width: 100%;
	color: #555;
	border-collapse: separate;
    margin-bottom: 10px;
}
.detail_r h2{
	margin-bottom: 15px;
}
.detail_price{
    color: #444;
    line-height: 27px;
    padding: 0 0 0 70px;
    font-size: 14px;
    font-weight: 400;
    width: auto;
    float: none;
    margin-bottom: 15px;
}
.detail_price b{
	color: #E53A3E;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}
.detail_tr{
	width: 100%;
	margin-bottom: 15px;
}
.detail_tr span{
	border: 1px solid #cccccc;
	width: 50%;
	display: block;
	float:left;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	color: #555555;
}
.detail_tr span em{
	color:#555555;
	font-style: normal;
}
.detali_num{
	margin-bottom: 15px;
}
.detali_num .dn_ber{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #444444;
	line-height: 40px;
	display: block;
	float: left;
	margin-left: 50px;
}
.detali_num .add,.detali_num .min{
	color: #444444;
	border: 1px solid #CCCCCC;
	padding: 3px 0px;
	width: 25px;
	display: block;
	float: left;
	text-align: center;
	cursor: pointer;
	margin-top: 6px;
}
.detali_num .counts{
	margin-top: 6px;
	width: 54px;
	display: block;
	float: left;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 3px 0px;
	text-align: center;
	color: black;
}
.total{
	font-size: 16px;
	color: #555555;
	margin-left: 30px;
	font-weight: bold;
	line-height: 40px;
}
.total b{
	color: red;
}
.detail_btn span{
	border-radius: 8px;
    background-color: #D9534F;
    opacity: 0.5;
	display: block;
	width: 127px;
	height: 36px;
	margin-left: 10px;
	float: left;
	cursor: pointer;
}
.btn_buy{
	background: url(../img/inner_nowBuy.png);
	margin-left: 70px!important;
}
.btn_add{
	background: url(../img/inner_addCat.png)
}
.share{
    width: 170px;
    height: 20px;
    margin-left: 60px;
    margin-top: 150px;
}
.bFind-wrapper-top{
	height: 27px!important;
}
.bsBox{
	height: 420px!important;
	width: 560px!important;
}

.detail_head{
	height: 30px;
	line-height: 30px;
	color: #555;
	font-size: 16px;
	border-bottom: 2px solid grey;
	display: block;
	width: 100%;
}
.detail_td{
	width: 215px;
	height: 75px;
	padding:10px 0 10px 75px;
	float: left;
}
.detail_td span{
	color: #444;
	font-family: "微软雅黑";
    line-height: 25px;
    float: left;
    font-size: 12px;
    margin-left: 4px;
}
.detail_td b{
	color: #F60;
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    margin: 0 2px;
    font-family: Arial;
}
.detail_td p{
	width: 60px;
	height: 12px;
	background: url(../img/T1krl0Xk8zXXXXXXXX-194-382.png) -127px -236px;
}
.score{
	margin-top: 20px;
	width: 460px;
	height: 55px;
	float: left;
	background: url(../img/T1Zy55XcJsXXXXXXXX-487-21.png) no-repeat;
	background-size:430px 20px;
	padding-top: 20px;
}
.score li{
	float: left;
	color: gray;;
	width: 80px;
	height: 20px;
	font-size: 12px;
	text-align: center;
}
.score .te{
	margin-left: 50px;
}

.banner_detail{
	position: relative;
	height: 260px;
	overflow: hidden;
	width:100%;
	margin-top: 20px;
}

.detail_list{
	height:260px;
	overflow: hidden;
	position: absolute
}
.banner_detail:hover .btn_l,.banner_detail:hover .btn_r{
	display: block;
	cursor: pointer;
}
.btn_l{
	display: none;
	width: 28px;
	height: 56px;
	background:url(../img/manual_move_btn.png) no-repeat;
	z-index: 5;
	position: absolute;
	top:37%;
	margin-top: -28px;
	left: 21px;
}
.btn_r{
	display: none;
	width: 28px;
	height: 56px;
	background:url(../img/manual_move_btn.png) no-repeat;
	background-position: -28px;
	z-index: 5;
	position: absolute;
	top:37%;
	margin-top: -28px;
	right: 0;
}
.detail_li{
    width: 215px;
    height: 260px;
    float: left;
    margin-left: 24px;
    text-align: center;
}
.detail_li_pic{
	width: 215px;
	height: 205px;
	border: 1px solid #CCCCCC;
	padding: 1px;
	background: white;
}
.detail_li_pic:hover{
	border: 1px solid #FD4500;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}
.detail_li_pic img{
	width: 100%;
	height: 100%;
}
.detail_li_hr{
	width: 100%;
	overflow: hidden;
	line-height: 25px;
	height: 25px;
	display: block;
	font-weight: bold;
	font-size: 14px;
	color: #444;
}
.detail_li_hr:hover{
	color:#FD4500;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}
.detail_li .red{
	font-size: 14px;
    display: -webkit-box;
    line-height: 34px;
    height: 24px;
    font-weight: 100;
} 
.det_pro{
	font-size: 16px;
	color: #555;
	text-indent: 2rem;
} 

/*留言模块--已留言部分*/
.messaged{
	width: 1180px;
	margin: 0 auto;
}
.mes_head{
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #dddddd;
}
.mes_head b{
	font-size: 12px;
	color: #000000;
}
.mes_head b span{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}
.to_mes{
	font-size: 12px;
	color: #444444;
	float: right;
	font-family: "微软雅黑";
	margin-right: 10px;
	cursor: pointer;
}
.to_mes:hover{
	color:#fea500;
}
.mes_main{
	border: 1px dashed #dddddd;
	width: 1152px;
	margin: 10px auto 0 auto;
	padding: 5px 0;
}
.mes_main_l{
	height: 149px;
	width: 150px;
	float: left;
	text-align: center;
	padding-top: 30px;
}
.mes_main_r{
	border-left: 1px dashed #dddddd;
	float: left;
	width: 1000px;
	padding: 5px 10px;
}
.mes_main_l p{
	line-height: 24px;
	height: 24px;
	color: #555;
}
.mes_mr_head{
	padding-bottom: 15px;
	border-bottom: 1px dashed #dddddd;
}
.mes_mr_head b{
	font-size: 14px;
	color: #444444;
	height: 30px;
	line-height: 30px;
	 
}
.mes_mr_head p{
	font-size: 12px;
	color:#666;
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
}
.mes_mr_txt{
	padding: 20px 0;
	
}
.btn_mes{
	line-height: 33px;
	height: 30px;
	font-size: 12px;
	color: #444444;
	padding-left: 20px;
	cursor: pointer;
}
.frend_mes{
	padding-bottom: 15px;
	padding-left: 30px;
	font-size: 12px;
	color: #555555;
}
.frend_mes span{
	font-family: "微软雅黑";
	font-size: 12px;
}

.btn_mes:hover{
	color:#fea500;
}